.faq_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .faq-header {
    background: url('../../image/faq.jpeg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    width:100%;
    height:700px;
    margin-bottom: 20px;
  }
  
  .faq-header h1 {
    font-size: 3em;
    color:black;
  }
  
  .faq-header h3 {
    font-size: 1.5em;
    color:black; 
  }
  .wrapper {
    display:flex;
    width:80%;
    justify-content:center;
    align-items:center;
    height:100vh;
  }
  
  .accordion {
    width:75%;
  }
  
  .faq-item {
    background:#f0ebe1;
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius:5px;
    cursor:pointer;
  }
  
  .faq-title{
    color:#85662b;
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .faq-content{
    color:#8b7f75;
    max-height:0;
    overflow:hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
  }
  
  .faq-content.show{
    max-height:100px;
    overflow:auto;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    font-size: 20px;
  }