body, h1, h2, p {
    margin: 0;
    padding: 2px;
    size: 24px;
    color: #604f4f;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .footer_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .footer_details_one,
  .footer_details_two,
  .footer_details_three,
  .footer_details_four {
    text-align: left;
  }
  .nav-link{
    text-decoration: none;
  }
  @media screen and (max-width: 768px) {
    .footer_container {
      grid-template-columns: 1fr;
    }
  }
  
  footer {
    background-color: #908181;
    padding: 20px;
  }
  
  h3 {
    color: #604f4f;
  }
  
  img {
    max-width: 100%;
    height: 120px;
    margin-left: -50px;
  }
  .line{
    text-decoration: none;
  }
  .link{
    text-decoration: none;
  }
  .link p:hover{
    color: black;
  }
  
.footer_details_three {
    display: flex;
    flex-direction: column;
  }
  
  .footer_details_three p {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .footer_details_three p svg {
    margin-right: 8px; 
  }
  
  @media screen and (max-width: 480px) {
    p {
      font-size: 14px;
    }
  }