.cart_section{
    width: 100%;
    min-height:50vh;
    position: relative;
    background-color: #EAEDED;
    padding-left: 70px;
}

.cart_section .cart_container{  
    margin: 0 auto;
    padding:40px 20px;
    display: flex;
    width:100%;
}

.cart_container .cart_left{
    flex: .9;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 2px;
}

.cart_left h1{
    font-weight: 700;
    font-size: 28px;
}

.cart_left p{
    font-size: 14px;
    margin: 5px auto;
    color: #007185;
}

.cart_left span{
    display: block;
    text-align: right;
    color: #565959!important;
    font-size: 14px;
    padding-right: 3px;
}


.cart_left .item_container{
    padding: 10px 5px 20px 15px;
    display: grid;
    grid-template-columns:.8fr 2fr .1fr;
}

.item_container img{
    width: 130px;
    margin-left: 10px;
    height: 200px;
}

.item_container h3{
    font-weight: 700;
    color: black;
}

.item_container .item_price{
    font-weight:600;
   width: 100px;
}

.item_container p{
    font-size: 15px;
    color:  #604f4f;
    font-weight: 500;
}

/* .item_details img{
    width: 66px;
    height: 18px;
    cursor: pointer;
} */

.item_details .unusual{
    color:#c45500!important;
}

.item_details .add_remove_select{
    display: flex;
    align-items: center;
}


.item_details .add_remove_select p{
    color: #007185!important;
    font-size: 13px;
    margin-top: 10px;
}

.item_details .add_remove_select select{
    padding: 5px;
    width: 50px;
    border-radius: 8px;
    background-color: #eeeded;
    letter-spacing: .2px;
    margin-top: 4px;
    outline: none;
   border: 1px solid #e7e7e7;
    box-shadow: 0 0 15px -7px rgba(0,0,0,1);
}

.sub_item{
    display: flex;
    justify-content: flex-end;
}
/* 
.sub_item h3{
    font-weight: 500;
    margin: 10px 0;
} */

/* .cart_left .diffrentprice{
    display: none;
   
} */

.right_cart{
    background-color: #fff;
    margin-top: 50px;
    margin-left: 10px;
    height: 300px;
    align-content: center;
}
.right_cart .right-top{
    padding-top: 20px;
}
.right_cart .import{
    margin-right: 30px;
}

.cart_container .right_cart{
    flex: .2;
    margin-right: -50px;
    padding: 0 20px;
    border-radius: 2px;
}

 .rightcart_btn{
    width: 100%;
    margin-top: 15px;
    padding: 8px 0;
    border-radius: 1px;
    color: #453939;
    border: none;
    outline: none;
    background-color: #a59797;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 10px -5px rgba(0,0,0,.5);
}

.rightcart_btn:hover{
    background-color:  #908181;
}

 .emi{
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
 /* .hide{
  display: none;
}

 .show{
    display: block;
} */

/* 
.cart_container .empty_buy{
    flex: .7;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}  */
/* 
.cart_container .empty_buy img{
    width: 70px;
}

.cart_container .empty_buy .emptydata{
    margin-left: 30px;
} */

/* 
.cart_container .empty_buy .emptydata h1{
    font-size: 25px;
    font-weight: 700;
} */

/* .cart_container .empty_buy .emptydata p{
    font-size: 14px;
    margin-top: 10px;
    color: #007185;
    cursor: pointer;
} */

/* .empty_buy .empty_btn{
    margin-left: 60px;
    padding: 7px 13px;
    text-decoration: none;
    background-color:#007185;
    color: #fff;
    border-radius: 5px;
} */


@media (max-width:768px){
    
    .cart_section{
        min-height: 45vh;
    }
    .cart_section .cart_container{  
        flex-direction: column;
        align-items: center;
        padding:10px;
    }
    .emi{
        display: none;
    }

    .item_container img{
        width: 110px;
        padding-right: 10px;
    }


    .cart_container .cart_left{
        flex: 1;
        order: 2;
    }
    .cart_container .right_cart{
        flex:1;
        width: 100%;
        margin-right:0;
    }
}


@media (max-width:500px){

    .cart_left{
        padding: 0px;
    }

    .item_container img{
        width: 90px;
    }
    .cart_left h1{
        font-size: 22px;
    }
    .item_container h3{
        font-size: 17px;
    }

    
    .cart_left .diffrentprice{
        display: block;
        font-weight: 700;
    }
    .item_details img{
      display: none;
    }
    .item_container p{
        font-size: 12px;
    }
    .item_details .add_remove_select p{
        font-size: 12px;
        margin-left: 20px;
    }

    .item_details .add_remove_select .forremovemedia{
        display: none;
    }
    .item_details .add_remove_select span{
        display: none;
    }
    .sub_item h3{
       font-size: 18px;
    }
    .item_details .unusuall{
        line-break:loose;
    }

    .cart_left .leftbuyprice{
        display: none;
    }
    .cart_left .item_price{
        display: none;
    }

    .cart_container .empty_buy .emptydata h1{
        font-size: 15px;
    }

    .cart_container .empty_buy .emptydata p{
        font-size: 12px;
        margin-top: 10px;
    }

    .empty_buy .empty_btn{
        margin-left:30px;
        padding: 7px;
        font-size: 14px;
    }

    .cart_container .empty_buy img{
        width: 50px;
        margin-left: -10px;
    }
    
}