header {
    background-color:  rgb(4, 4, 4); 
    padding: 0.5% 2%; 
    border-bottom: 1px solid black;
    margin-bottom: 0%;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .brandname {
    font-size: 1rem;
    justify-content: flex-start;
    color: rgb(238, 234, 135);
  }
  
  .tagline {
    font-size: 1rem;
    color:  rgb(238,234,135);
  }
  