.Bestsellerslide {
    /* margin: 20px 15px; */
    padding: 20px;
    background-color:#fff;
    margin-right:15px;
  }
  
  .best_text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .best_text h1 {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
  }
  
  .carousel-item-padding-40-px {
    padding: 0;
    box-sizing: border-box;
  }
  
  .product_items {
    background-color: #fff;
    border: 0px solid #ddd;
    padding: 5px;
    text-align: center;
    height:480px;
    min-height: 300px; 
    background-color:#fff;
  }
  
  .nav-link {
    text-decoration: none;
  }
  .product_img img {
    max-width: 100%;
    height:380px;
    max-height: 400px; /* Adjust the maximum height as needed */
    margin-bottom: 0px;
    margin-left: 10px;
    align-items: center;
  }
  
  .product_items h3 {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .product_items p {
    font-size: 14px;
    color: #777;
  }
  
  /* Media query for tablet screens */
  @media screen and (max-width: 768px) {
    .Bestsellerslide {
      margin: 20px 10px;
      padding: 15px;
    }
  
    .product_items {
      height: auto;
    }
  
    .product_img img {
      max-height: 200px;
    }
  }
  
  /* Media query for mobile screens */
  @media screen and (max-width: 480px) {
    .Bestsellerslide {
      margin: 15px 5px;
      padding: 10px;
    }
  
    .product_img img {
      max-height: 150px;
    }
  }
  